.data-table {

    max-width: 80vw;
    overflow-x: scroll;
    // direction: rtl;

    .data-grid {
        background-color: var(--white-text);
        padding: 20px;

        .MuiDataGrid-toolbarContainer {
            // flex-direction: row-reverse;

            .MuiButtonBase-root {
                display: none;
            }
        }

        // .MuiDataGrid-columnsContainer {
        //     direction: 'rtl';
        // }

        // .MuiDataGrid-virtualScroller {
        //     direction: 'rtl';
        // }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }

        .action {
            cursor: pointer;
        }

        // .tableHeaderStyle {
        //     direction: rtl;
        // }

        // .tableCellStyle {
        //     direction: rtl;
        // }

    }
}