.circle {
    width: 100px;
    height: 100px;
    background-color: #c7c6c6;
    border: 2px solid #c2c2c2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 10px;
    font-weight: bold;
    font-size: 18px;
}

.circle.active {
    background-color: green;
    /* Change to your desired active color */
    color: #fff;
}